<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>KANBAN</title>
    
</head>

<body>
    <main class="container">
        <h3>KANBAN BOARD</h3>
        <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div>
        <div>
        <p>Login:</p>
        <a href="/signin" class="btn btn-default"><span class="fa fa-user"></span> Signin</a>
        <p> Register:</p>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
</body>

</html>